*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background-color: hsl(242, 14%, 43%);
}

.flex-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    /* display: grid;
    place-content: center; */
    border: 1px solid black;
    height: 2rem;
    width: 4rem;
    margin: 2rem 0;
}

.times {
    border: 1px solid black;
    height: 6rem;
    width: 10rem;
    text-align: center;
}